// $Id$
//**** Image Galleries ****/

.oddthumb {
    border-collapse: collapse;
}

.eventhumb {
    border-collapse: collapse;
}

.eventhumb img {
    margin-left: 6px;
    margin-right: 6px;
}

#browse_image {
    width: 100%;
}

img.athumb {
    margin: auto
}

.showimage {
    margin: 5px 0;
    width: 100%;
    text-align: center;
    padding: 6px;
}

.imgaldescr {
    margin: 10px
}

.sorttitle {
    margin-left: 10px;
}

//**** Image Galleries ****/

p.norecords {
    font-weight: bold;
}

.imagetitle {
    font-weight: bold;
    font-size: 200%;
}

//* Random image module - top and bottom margin better
// when module used without decorations. */
#random_image {
    text-align: center;
    overflow: hidden;
    margin: 1em auto;
}
